
.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.jfx-date-picker .month-year-pane{
    -fx-background-color: #16a085;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.26), 10, 0.12, -1, 2);
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

/* Default Button Style*/
.button-raised {
    -jfx-button-type: RASIED;
    -fx-background-color: #16a085;
    -fx-pref-width: 128;
    -fx-pref-height: 30;
    -fx-text-fill: WHITE;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}

.button-normal{
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(26, 188, 156);
    -fx-min-width: 64;
}

.button-nav {
    -jfx-button-type: FLAT;
    -fx-background-color: white;
    -fx-text-fill: rgb(26, 188, 156);
    -fx-min-width: 64;
}

.container {
    -fx-background-color: WHITE;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.26), 10, 0.12, -1, 2);
}

.navbar {
    -fx-background-color: WHITE;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.26), 10, 0.12, -1, 2);
}

.thumbnail {
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
}

.message-dialog {
    -fx-wrap-text: true;
    -fx-font: 14 "Helvetica";
}

.title-dialog {
    -fx-wrap-text: true;
    -fx-font: bold 20 "Helvetica";
}

.fab {
    -jfx-button-type: RASIED;
    -fx-background-color: #16a085;
    -fx-text-fill: WHITE;
    -fx-text-alignment: center;
    -fx-min-width: 48;
    -fx-max-width: 48;
    -fx-min-height: 48;
    -fx-max-height: 48;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-font: 22 "Helvetica";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.26), 10, 0.12, 2, 4);
}

.split-pane-divider {
   -fx-background-color: transparent;
}

.jfx-text-field, .jfx-password-field {
    -fx-background-color: WHITE;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -jfx-focus-color: #16a085;
    -jfx-unfocus-color: rgb(236, 240, 241);
    -fx-max-width: 300;
    -fx-font: 14px "Helvetica";
    -fx-padding: 4;
}

.jfx-check-box{
    -jfx-checked-color: #FFC107;
    -jfx-unchecked-color: #bdc3c7;
}

.jfx-radio-button{
    -jfx-selected-color: #16a085;
    -jfx-unselected-color: #bdc3c7;
}
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
/*
List View
*/

.listmenu{
    -fx-border-radius: 0 0 0 0 !important;
    -fx-background-radius: 0 0 0 0 !important;
}

.listmenu .scroll-bar:vertical .increment-button,
.listmenu.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.listmenu .scroll-bar .increment-arrow,
.listmenu .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}


/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.listmenu .scroll-bar:horizontal .thumb,
.listmenu .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}



.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-text-fill: white;
}

.list-cell { /* <=== changed to even */
    -fx-text-fill: white;
    -fx-background-radius: 4px;
    -fx-padding: 8 8 8 10px ;
    -fx-background-insets: 2 2 2 4, 2px ;
}

.cell:selected{
-fx-background-color:  #97ff8e;
}

.list-cell:selected { /* <=== changed to even */
    -fx-text-fill: white;
    -fx-background-radius: 4px;
    -fx-padding: 8 8 8 10px ;
    -fx-background-insets: 2 2 2 4, 2px ;
    -fx-background-color:  #8eb9ff;
}

.list-cell:inactive { /* <=== changed to even */
    -fx-text-fill: white;
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

.list-cell:filled:hover {
    -fx-background-color: #8eb9ff;
    -fx-text-fill: #212121;
}

.list-view {
    -fx-border-width: 0;
}

.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.list-view  .scroll-bar .increment-arrow,
.list-view  .scroll-bar .decrement-arrow{
    -fx-shape:" ";
    -fx-padding:0;
}

.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/**/
/*
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.radio-button > .radio, .radio-button:focused > .radio  {
    -fx-background-radius: 1.0em;
    -fx-padding: 0.333333em;
}
.split-menu-button:focused {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-background-radius: 3, 3;
}
.split-menu-button:focused > .label {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
    -fx-padding: 0.333333em 0.667em 0.333333em 0.667em;
}
.split-menu-button:focused > .arrow-button {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1, 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.667em;
}

.scroll-bar:focused {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to bottom, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0, 1 0 1 0;
}
.scroll-bar:vertical:focused {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to right, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0, 0 1 0 1;
}

.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-prompt-text-fill: transparent;
}

.text-area:focused .content {
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 2;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
}

.color-picker.split-button:focused > .arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}
*/

/*Table View*/
.table-view{
   -fx-background-color: white;
   -fx-border-radius: 5 5 5 5;
   -fx-background-radius: 5 5 5 5;
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.26), 10, 0.12, -1, 2);
}

.table-view:focused{
    -fx-background-color: white;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font: bold 14px "Helvetica";
    -fx-padding: 10;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

/*
.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}
*/

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #ecf0f1 ;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #bdc3c7;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-border-width: 0px;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.button-normal{
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(26, 188, 156);
    -fx-min-width: 64;
}

.button-delete{
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-text-fill: #e74c3c;
    -fx-min-width: 64;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}


.combo-box-popup .list-view:selected:filled:focused{
    -fx-text-fill: white;
}


.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
    -fx-cell-size: 24px;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-max-height: 110;
    -fx-background: -fx-accent;
    -fx-background-color: #16a085/*-fx-selection-bar*/;
    -fx-text-fill: white/*-fx-selection-bar-text*/;

}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #16a085;
    -fx-text-fill: white;
}

.combo-box-base
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white !important;
    -fx-background-radius: 5, 5, 4, 3 !important;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2!important;
    -fx-border-width: 1px !important;
    -fx-border-color: rgb(236, 240, 241);
    -fx-border-radius: 5 5 5 5 !important;
    -fx-padding: 0 !important;
    -fx-prompt-text-fill: rgb(236, 240, 241);

}



.combo-box-base:showing
{
    -fx-border-color: #16a085;
}

.combo-box-base:hover
{
    -fx-text-fill: white;
    -fx-color: -fx-hover-base;
}

.combo-box-base .text{
    -fx-fill: rgb(130.0, 130.0, 130.0);
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}